/* style.css */
body {
  font-family: 'Arial', sans-serif;
}

button {
  background-color: #4CAF50; /* Hijau */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}